/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run TRON-Bioinformatics/qcpanda -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 1,
        memory: '64.MB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input                    = "${params.pipelines_testdata_base_path}samplesheet/samplesheet.csv"
    sortmerna_ref_txt        = "${params.pipelines_testdata_base_path}default/sortmerna_ref.txt"
    fastq_screen_references  = "${params.pipelines_testdata_base_path}default/db/fastq_screen_references.csv"
    kraken2_db               = "${params.pipelines_testdata_base_path}default/db/kraken2_db.tar.gz"
    bracken_db               = "${params.pipelines_testdata_base_path}default/db/kraken2_db.tar.gz"
    ngscm_snp_patternsfile   = "${params.pipelines_testdata_base_path}default/SNP.pt"
    execute_ngscm_threshold  = 0.0
}
